<div class= "nav">
	<div class= "logo-container d-flex justify-content-center align-items-center">
		<a href ="/"><h4 class="blue">CSSRules</h4></a>
	</div>
</div>
<div class= "name-of-rule ">
	<div class= "name d-flex justify-content-center align-items-center">
		<a href ="/"><h4 class= "red">something</h4></a>
	</div>
</div>
