<div class="cssrules-info row" id="info-rule">
		<div class="example col d-flex align-items-center">
		<div class="wrapper d-flex align-items-center h-50">
		<div class="info-text">
			<h3>Доступность и Наглядность</h4>
			<h5 class="py-0">Наш Справочник  имеет подробную инструкцию для правил,а также их живое демо для наглядного действия</h6>
			<div class="holder">
			<h3>Пример правила border:</h3>
			<h5 class="py-0">Универсальное свойство border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента. Значения могут идти в любом порядке, разделяясь пробелом, браузер сам определит, какое из них соответствует нужному свойству. Для установки границы только на определенных сторонах элемента, воспользуйтесь свойствами border-top, border-bottom, border-left, border-right.</h6>
				<div id="code" class="code mx-3 my-2">
					<span class="keyword p-1">border</span> 
					<span class="elements p-1">: [</span>
					<div class="link-wrapper p-1">
					<a href="#" id="input" data-toggle="dropdown"><span  class="px-2 non-active">border-width</span></a> 
					<div class="dropdown-menu">
						<input class="dropdown-item" placeholder="Введите длину(px)" id="bor-width"/>
					</div>
					</div>
					
					<span class="elements p-1">||</span> 
					
					<div class="link-wrapper p-1">
					<a href="#" id="style" data-toggle="dropdown"><span class="non-active px-2">border-style</span></a>
					<div class="dropdown-menu" >
						<a class="dropdown-item"  id="dotted">Dotted</a>
						<a class="dropdown-item"  id="dashed">Dashed</a>
						<a class="dropdown-item"  id="solid">Solid</a>
						<a class="dropdown-item"  id="double">Double</a>
						<a class="dropdown-item"  id="groove">Groove</a>
						<a class="dropdown-item"  id="ridge">Ridge</a>
						<a class="dropdown-item"  id="inset">Inset</a>
						<a class="dropdown-item"  id="outset">Outset</a>
					</div>
					</div>
					
					<span class="elements p-1">||</span> 

					<div class="link-wrapper p-1">
					<a href="#" id="style" data-toggle="dropdown"><span class="non-active px-2">border-color</span></a> 
					<div class="dropdown-menu" >
						<a class="dropdown-item"  id="black">Black</a>
						<a class="dropdown-item"  id="blue">Blue</a>
						<a class="dropdown-item"  id="red">Red</a>
					</div>
					</div>
					<span class="elements p-1">] |</span>
					<span class="keyword  p-1">inherit;</span>

				</div>
			<h5><a href="/content.html" class="goto py-1 px-3">Больше информации в нашем справочнике</a></h6>
			</div>
		</div>
		</div>
		</div>

		<div class="live col d-flex align-items-center">
			<div class="live-holder d-flex align-items-center">
				<div class="live-demo w-100">
					<h4 class="demo text-center" id="demo">Я живое демо! Жми на подсвеченные аргументы</h5>
				</div>
			</div>
		</div>
</div>
