<div class="row">

<div class="left-side col align-self-center">
	<div class="name my-3">
		<h1>CSSRules - современный справочник по CSS3</h1>
	</div>
	<div class="description my-3">
		<h4>Научись управлять магией языка каскадных стилей!</h4>
		<a id="scroll">Узнай об этом больше ниже! <img src="https://img.icons8.com/ultraviolet/40/000000/chevron-right.png"/></a>
	</div>

</div>
	
<div class="footer">
	<ul class="d-flex">
		<li class="pr-2">© CSSRules</li>
		<li class="px-2" id="left-bor">andreyhleb: webpack + bootstrap</li>
	</ul>
</div>

<div class="right-side col d-flex align-items-center">
	<img src="/src/img/BP.png" class="right-logo"/>
</div>

</div>