span {
	font-size: 14px;
}



.code {
	background-color: rgb(22,22,25);
	border-radius: 3px;
	color: white;
	font-family: "SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace";
	font-size: 87.5%;
	display: flex;
}

.link-wrapper {
	width: max-content;
}





.keyword {
	color: /*#62b1d8*/ rgba(0, 191, 255);
}

.string {
	color: yellow;
}

.non-active {
	background-color: #ffc31f /*rgba(0, 191, 255)*/;
	color: black;
}

.non-active:hover {
	background-color: rgba(0, 191, 255);
	transition: 0.5s;
}