.footer {
	/*background-color: rgb(22, 22, 25);*/
	width: 50%;
	height: auto;
	position: absolute;
	bottom: 0;
	margin-left: 15px;
	margin-right: 15px; 
	/*border: 1px solid white;*/
}

ul {
	padding: 1rem;
	color: rgb(255,255,255,0.5);
}

ul:hover {
	color: rgb(255,255,255); 
	transition: 0.5s;

}

ul:hover  #left-bor{
	border-left: 1px solid rgb(255,255,255); 
	transition: 0.5s;
}


#left-bor {
	border-left: 1px solid rgb(255,255,255,0.5); 
}

li {
	list-style-type: none;
}
