html, body{
    height: 100%;

}


div{
    /*border: 1px solid black;*/
}

#welcome{
    position: absolute;
    color:white;
    padding: 0 !important;
}

#info{
    color:black;
    padding: 0 !important;
    height:100%;
}

.info-text{
    height: auto;
    width: 100%;
    color: black !important;
}




.live-holder {
    height: 50%;
    width: 100%;
    color: black !important;
    border-radius: 3px;
    background-color: #eaf8ff;
}
/*
#code{
    white-space: nowrap;
    display: block;
}*/

pre {
    text-align: left;
}

.welcome{
    height: 100%;
}

.row{
    height: 100%;
    margin: 0 !important;
}

.left-side {
    /*height: 100%; not using due to align-self*/
}

.right-side {
    height: 100%;   
}

/*Info part in welcome.html*/
.cssrules-info{
    width: inherit;
    height: inherit;
}

h1,h2,h3,h4,h5,h6,a {
    font-family: Lora;
    margin: 0;
    padding: 1rem;
}

canvas {
    display: block;
    background: #000;
    z-index: 0;
    height: 100%;
    width: 100%;
}

img {
    width:2%;
}

.right-logo {
    width: 100% !important;
}

a{
    font-family: Lora;
    color: white;
}

a:hover {
    text-decoration: none;
    color: gray !important;
}

/*link to 
*/
.goto{
    color: black;
    background-color: #ffc31f;
    padding: 0;
}

.goto:hover {
    background-color: rgba(0, 191, 255);
    transition: 0.5s;
    color: black !important;
}