/*styles for content.html*/
.blue{
    color: black;
    /*height: 10%;*/
}

p{
    margin-block-start:0;
    margin-block-end:0;
    padding: 0;

}
div{
	border: 1px solid black;

}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.logo-container{
	width: 20%;
}
.nav {
	width: 100%;
	display: flex;
	height: 15%;
}
.name-of-rule{
	height: 20%;
	width: 100%;
	background-image: url("/src/img/Blurred.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
body ,html{
	height: 100%;
}
#content{
	height: 100%;
}
.red{
	width: 100%;
	height: 100%;
	display: flex;
}
.name{
	height: 100%;
}